body{
    background-color: #210830;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#mainNavbar{
    color: #F4BEFA;
    font-size: 1.5rem;
    font-weight: 100;
}  

#mainNavbar .navbar-brand{
    color: #F4BEFA;
}

#mainNavbar .nav-link {
    color: #F4BEFA;
}

#mainNavbar .navbar-brand:hover{
    color: #FE76AA
}

#mainNavbar .nav-link:hover {
    color: #FE76AA
}

#spanGroup span{
    color: red;

}

#spanGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

#iconText{
    width: 20%;
    
}

.blurb h2{
    color: #F4BEFA;
    font-weight: 100;
    font-size: 2.5rem;
}

h1{
    color: #F4BEFA;

}

.blurb p{
    color: #F4BEFA;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
    margin-top: 100px;
}

@media (max-width:1200px){

    #spanGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}